html,body {
   width:100%; height:100%;
   margin:0px; padding:0px;
}
body {
    background: #fffff3; 
    color: black;
}

#gbox {
   width:100%; height:100%;
   overflow-y: auto;
}
#gallery {
   width: 1015px;
   list-style: none;
   margin:20px auto 0px; padding:0px;
}
.g_photo { 
   width:250px; height:200px;
   display: inline-block;
   margin: 0px 0px 5px 5px;
   overflow: hidden;
   box-shadow: 1px 1px 5px #aaa;
}
.g_photo:nth-child(4n+1) { 
   margin-left: 0px;
}
.g_photo img[auto="width"] { 
   width: auto;
   height: 100%;
}
.g_photo img[auto="height"] { 
   width: 100%;
   height: auto;
}

#more {
   width:50%; height:25px;
   text-align: center;
   line-height:13px; font-size:17pt;
   box-shadow: 0px 1px 5px #aaa;
   background: rgba(220,220,220,0.2);
   margin: 10px auto;
}
