<!DOCTYPE html>
<html>
<head><title>Gallery</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'gallery/css/style.css' %}" />
<script src="{% static 'gallery/js/jquery-1.10.2.min.js' %}"></script>
<script>
g_next = '/api/posts/get'
var loading_tid, loading_txt = '...';
var PostLoading=false;
$.fn.loading = function( start )
{  clearTimeout(loading_tid);
   if( start==undefined ) start=true;
   obj=$(this); PostLoading=start;
   if( start )
   {  loading_txt+='.'; if( loading_txt.length>3 ) loading_txt='.';
      obj.text(loading_txt)
      if( PostLoading ) loading_tid=setTimeout(function(){ obj.loading(); }, 1000);
      else   obj.loading(false);
   }
   else  obj.text('...');
};

pobj_html = '<li class="g_photo"><img src=""/></li>'
hot_thr=3000, HOT_SIZE=4, NOR_SIZE=1;
g_stat=[0,0], g_queue=[];
function chooseSide(){ return ((g_stat[1]<g_stat[0])&&(g_stat[0]%2==0))? 1: 0; }
function putOnSide( p_obj, p_size, g_side )
{  gside_obj[g_side].append(p_obj);
   g_stat[g_side] += p_size;
   if( g_stat[0]==g_stat[1] ) g_stat=[0,0];
}
function putOnGallery( p_obj, hot_score, from_queue )
{  
   g_side = chooseSide();
   g_side = ((g_stat[1]<g_stat[0])&&(g_stat[0]%2==0))? 1: 0;
   if( g_stat[g_side]%2==0 && g_queue.length>0 )
   {  putOnSide( g_queue.shift(), HOT_SIZE, g_side );
      if( g_queue.length>0 )  putOnGallery( g_queue[0], hot_thr, 1 );
      g_side = chooseSide();
   }
   if( from_queue )  return;

   p_size = (hot_score>=hot_thr)? HOT_SIZE: NOR_SIZE;
   if( p_size!=1 )
   {   p_obj.addClass('hot');
       if( g_stat[g_side]%2!=0 )
       {  g_queue.push(p_obj);
          return;
       }
   }
   putOnSide( p_obj, p_size, g_side );
}
$.fn.initPhoto = function( post )
{  p_obj = $(this);
   p_obj.attr('pid',post.object_id);
   img = p_obj.find('img:first');
   img[0].src = post.image_url;
   imgW=post.image_width; imgH=post.image_height;
   fixH= 250/imgW * imgH;
   if( fixH<200 )  img.attr('auto','width');
   else  img.attr('auto','height');
   return p_obj;
}
function more_posts()
{  if( g_next==null )  return;
   more_obj.loading();
   $.get(g_next, function(data,s,e){
      g_next=data.next; posts=data.results;
      postN = posts.length;
      for( i=0; i<postN ; i++ )
      {  post = posts[i];
         p_obj = $(pobj_html).initPhoto(post);
         putOnGallery( p_obj, post.hot_score );
      }
      if( gbox_obj.scrollAtBottom() ) setTimeout( more_posts, 10 ); 
      more_obj.loading(false);
   });
}
$.fn.scrollAtBottom = function()
{  obj = $(this);
   MaxScrollT = obj[0].scrollHeight-obj.css('height').replace('px','')-10;
   if( obj[0].scrollTop>=MaxScrollT )  return true;
   else   return false;
};

var gside_obj=[], more_obj, gbox_obj;
var NoOldPost=false;
$(document).ready(function(){
   gbox_obj = $("#gbox");
   gside_obj[0] = $(".gside[pos=left] ul");
   gside_obj[1] = $(".gside[pos=right] ul");
   more_obj = $("#more");
   gbox_obj.scroll(function(){
      if( !NoOldPost&&!PostLoading&&gbox_obj.scrollAtBottom() )
         setTimeout( more_posts, 50 ); 
   });
   more_posts();
});
</script>
</head><body>
<div id="gbox">
<ul id="gallery">
<li class="gside" pos="left"><ul></ul></li>
<li class="gside" pos="right"><ul></ul></li>
<li style="clear:both"></li>
</ul>
<div id="more">...</div>
</div>
</body></html>
