{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<h3><a href={% url 'polls:index' %}>Polls</a> &gt;&gt; {{ poll.question }}</h3>
<p>{{ poll.pub_date }}</p>

<form action="{% url 'polls:vote' poll.id %}" method="post">
{% csrf_token %}
<ul style="list-style-type:none">
{% for choice in poll.choice_set.all %}
    <li>
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    </li>
{% endfor %}
</ul>
<input type="submit" value="Vote" />
{% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}
</form>
